<form [formGroup]="form" #frmExamen="ngForm" (ngSubmit)="guardar()" >

    <mat-form-field >
            <input matInput placeholder="Juanito"  formControlName="nombre" minlength="6" maxlength="20" >
            <mat-error *ngIf="nombre.invalid && nombre.errors.required">El nombre es requerido</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field >
        <input matInput placeholder="describir"  formControlName="descripcion" minlength="6" maxlength="20" >
        <mat-error *ngIf="descripcion.invalid && descripcion.errors.required">La descripcion es requerida</mat-error>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmExamen.invalid">
        <mat-icon>done</mat-icon>
        <span>Guardar</span>
    </button>

    <button mat-raised-button color="warn"  type="button"  routerLink="/examen">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>