<div>
    <br>
    <h1 class="centrado"> DETALLES CONSULTA </h1>
    <table mat-table [dataSource]="dataSourceDetalleConsulta" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="diagnostico">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Diagnostico </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.diagnostico}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tratamiento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tratamiento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tratamiento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="eliminarDetalleConsulta(element.id)">
                    <mat-icon>clear</mat-icon>
                </button>
                <!--button mat-button color="primary" [routerLink]="['/consulta/visualizardetalles/'+ idConsulta + '/edicion/', element.id]" >
                    <mat-icon>edit</mat-icon>
                </button-->
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsDC"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsDC;"></mat-row>

    </table>
</div>

<br>

<div>
    <h1 class="centrado"> EXAMENES DE LA CONSULTA </h1>
    <table mat-table [dataSource]="dataSourceConsultaExamen" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.examen.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.examen.descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="eliminarConsultaExamen(element.examen.id)">
                    <mat-icon>clear</mat-icon>
                </button>
                <!--button mat-button color="primary" [routerLink]="['/consulta/visualizardetalles/'+ idConsulta + '/edicion/', element.examen.id]" >
                    <mat-icon>edit</mat-icon>
                </button-->
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsCE"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCE;"></mat-row>

    </table>
</div>