table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.centrado{
  text-align: center;
}

.main-div{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
  }